body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav  {
      margin-top : 150px;
    display: none;
    height: 75%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
  }
  
  .sidenav2 {
      margin-top : 150px;
    display: none;
    height: 75%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
  }
  
  .sidenav a,.sidenav div , .sidenav2 a, .sidenav2 div{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    overflow-y : auto;
  }
  
  .sidenav ,.sidenav2 a:hover {
    color: #f1f1f1;
  }
  
  .sidenav closebtn ,.sidenav2 closebtn2{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav,.sidenav2 {padding-top: 15px;}
    .sidenav a ,.sidenav2 {font-size: 18px;}
  }