<app-navigation></app-navigation>
<br>

<div class=" col-sm-8 mx-auto  ">
        <form [formGroup]="adModule"  class="form-horizontal bg-light">
        <label class="col-sm-10 h2 title-color">{{title}}</label><br>
      
        <div class="form-group">
                <label class="col-sm-3 control-label title-color h6" for="coursename">coursename</label>
                <div class="col-sm-6" >
                <select class="form-control title-color h6" 
                 name="coursename" #coursename formControlName="coursename" required>
                <option class="title-color h6"  *ngFor="let mycourse of allcourses">{{mycourse.name}}</option>
                </select>
                </div>
                </div>

                <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label title-color h6" for="moduleno">ModuleNumber</label>
                        <div class="col-sm-6">
                          <input class="form-control" type="number" name="moduleno" formControlName="moduleno" #moduleno required>
                           </div>
                        </div>

                        <div class="form-group form-group-lg">
                                <label class="col-sm-2 control-label title-color h6" for="modulename">ModuleName</label>
                                <div class="col-sm-6">
                                  <input class="form-control" type="text" name="modulename" formControlName="modulename" #modulename required>
                                   </div>
                                </div>

                                
                <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label title-color h6" for="description">Description</label>
                            <div class="col-sm-6">
                           <textarea class="form-control" rows="4" name="description"  formControlName="description" #description required>

                           </textarea>
                       </div>
                     </div>
                     

                            <div class="col-sm-3 form-group">

                                    <button  type="submit" (click)="addModule(coursename.value,moduleno.value
                                    ,modulename.value,description.value)" [disabled]="adModule.pristine || 
                                    adModule.invalid" class="btn text-white" style="background-color: #464c50">Submit</button>
                                    </div>


</form>
      </div>              
